html, body {
    height: 100%;
}

#header {
    width: 100%;
    height: 50px;
    background-color: #cee0ff;
    float: top;
    display: table;
}

.block {
    padding: 10px;
    border: 1px solid black;
    display: block;
    margin: 4px;
}

.fitting {
    /*display: inline-block;*/
    /*width: calc(100% / 2 - 8px);*/
}

.field {
    clear: both;
    text-align: right;
}

.form {
    max-width: 250px;
    width: 100%;
}

label {
    float: left;
    margin-right: 10px;
    padding-top: 5px;
}


#body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "hose hose" "left_fitting right_fitting" "order order" "button button";
}

@media (orientation: portrait) {
    #body {
        grid-template-columns: 1fr;
        grid-template-areas: "hose" "left_fitting" "right_fitting" "order" "button";
    }

    body {
        font-size: 3.5vw;
    }
}

/*START BLOCKS*/

#hose_block {
    grid-area: hose;
}

#left_fitting_block {
    /*float: left;*/
    margin: 4px;
    grid-area: left_fitting;
}

#right_fitting_block {
    /*float: right;*/
    margin: 4px;
    grid-area: right_fitting;
}

#order_block {
    grid-area: order;
}

/*END BLOCKS*/

#order_text {
    float: left;
    font-size: 1.2em;
}

.order_label {
    font-size: 0.8em;
    padding-right: 10px;
}

label {
    margin: 0;
}

#order_button {
    float: right;
    margin: 0;
    grid-area: button;
}


#login_button {
    float: right;
    margin: 8px;
}

#city {
    margin: 8px;
    display: inline-table;
    max-width: 200px;
    width: 100%;
    padding-right: 15px;
}
