{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание заказа</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <script src="{% static 'jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'popper/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'normalize.css' %}">

    <link rel="stylesheet" href="{% static 'bootstrap-select/bootstrap-select.min.css' %}">
    <script src="{% static 'bootstrap-select/bootstrap-select.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'main.css' %}">

    <script>
      function create_error(text) {
        console.error(text)
        alert(text)
      }

      function ajax(endpoint, data) {
        return $.ajax({
          dataType: 'json',
          url: endpoint,
          type: 'POST',
          data: data,
          headers: {
            'X-CSRFToken': "{{ csrf_token }}"
          }
        })
      }

      function get_order() {
        function val(name) {
          return Number($(name)[0].value)
        }

        let hl = val("#hose_len")
        let h = val("#hose")

        if (!h) {
          return create_error('Рукав не найден')
        }

        let to_send = {
          hose_len: hl,
          hose: h,

          left_fitting: val("#left_fitting_type"),
          right_fitting: val("#right_fitting_type"),

          left_mufta: val("#left_mufta"),
          right_mufta: val("#right_mufta"),

          client: val("#client_select"),
        }
        console.log(to_send)
        ajax('/order', to_send).done((data) => {
          console.log(data)
          $("#order_name").text(data.text)
          $("#order_price").text(data.price)
          $("#order_cost").text(data.cost)
          $("#order_nds").text(data.nds)
        }).fail((data) => {
          create_error(data.responseJSON.error)
        })
      }


      function update_fittings(du_id) {
        $.getJSON(
          "/api/fitting/",
          { du_id: du_id }
        ).done(function (data) {
          let lf = $("#left_fitting_type")
          let rf = $("#right_fitting_type")
          lf.empty()
          rf.empty()
          data.forEach(
            (d) => {
              const optionL = new Option(d.text, d.id, false, false)
              lf.append(optionL)
              const optionR = new Option(d.text, d.id, false, false)
              rf.append(optionR)
            }
          )
          lf.selectpicker('refresh')
          rf.selectpicker('refresh')
        })
      }

      function update_mufta(hose_type) {
        if (!hose_type) {
          return
        }
        return $.getJSON(
          "/api/mufta/",
          { hose_type: hose_type }
        ).done(function (data) {
          console.log('mufta', data)
          let lm = $("#left_mufta")
          let rm = $("#right_mufta")
          lm.empty()
          rm.empty()
          data.forEach(
            (d) => {
              let optionL = new Option(d.name, d.id, false, false)
              lm.append(optionL)
              let optionR = new Option(d.name, d.id, false, false)
              rm.append(optionR)
            }
          )
          lm.selectpicker('refresh')
          rm.selectpicker('refresh')
        })
      }

      function update_hose(hose_type, hose_size) {
        let h = $('#hose')
        h.empty()
        h.selectpicker('refresh')

        $.getJSON(
          "/api/hose/",
          {
            size: hose_size,
            type: hose_type,
          }
        ).done(function (data) {
          data.forEach(
            (d) => {
              const option = new Option(d.text, d.id, false, false)
              h.append(option)
            }
          )

          h.prop('disabled', data.length < 2)
          h.selectpicker('refresh')

          console.log('hose', data)
        })
      }

      function update_len(asd) {
        let num = Number(asd.value)
        if (num) {
          let val = num / 1000 + 'm'
          console.log(val)
          $('#len_m').html(val)
        } else {
          $('#len_m').html('0m')
        }
      }
    </script>
</head>
<body>

<div id="header">
    <div id="city">
        <select class="form-control">
            <option value="1">Минск</option>
            <option value="2">Витебск</option>
        </select>
    </div>
    <a id="login_button"
       type="button"
       class="btn btn-primary"
       role="button"
       href="/admin">Login</a>
</div>


<div id="body" class="container">
    <div id="hose_block" class="hose block">
        <div class="form">
            <div class="field">
                <label for="hose_len">L</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="hose_len" placeholder="0" onchange="update_len(this)">
                    <div class="input-group-append">
                        <div class="input-group-text" id="len_m">0m</div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label for="hose_size">Dn</label>
                <select id="hose_size"
                        class="form-control"
                        data-show-subtext="true"
                        data-live-search="true">
                </select>
            </div>
            <div class="field">
                <label for="hose_type">Тип рукава</label>
                <select id="hose_type"
                        class="form-control"
                        data-show-subtext="true"
                        data-live-search="true">
                </select>
            </div>
            <div id="hose_select" class="field">
                <label for="hose">Рукав</label>
                <select id="hose"
                        class="form-control"
                        data-show-subtext="true"
                        data-live-search="true">
                </select>
            </div>
        </div>
    </div>

    <!--Левый фитинг-->
    <div id="left_fitting_block" class="fitting block">
        <div class="form">
            <div class="field">
                <label for="left_fitting_type">Фитинг</label>
                <select id="left_fitting_type"
                        class="form-control"
                        data-live-search="true">
                </select>
            </div>
            <div class="field">
                <label for="left_mufta">Муфта</label>
                <select id="left_mufta"
                        class="form-control mufta-select"
                        data-live-search="true">
                </select>
            </div>
        </div>
    </div>

    <!--Правый фитинг-->
    <div id="right_fitting_block" class="fitting block">
        <div class="form">
            <div class="field">
                <label for="right_fitting_type">Фитинг</label>
                <select id="right_fitting_type"
                        class="form-control"
                        data-live-search="true">
                </select>
                <div class="field">
                    <label for="right_mufta">Муфта</label>
                    <select id="right_mufta"
                            class="form-control"
                            data-live-search="true">
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div id="order_block" class="order block">
        <div class="form">
            <div class="field">
                <label for="right_mufta">Клиент</label>
                <select id="client_select"
                        class="form-control"
                        data-live-search="true">
                </select>
            </div>
        </div>
        <table id="order_text">
            <tr>
                <th class="order_label">Текст:</th>
                <th id="order_name"></th>
            </tr>
            <tr>
                <th class="order_label">Цена:</th>
                <th id="order_price">0</th>
            </tr>
            <tr>
                <th class="order_label">Стоимость:</th>
                <th id="order_cost">0</th>
            </tr>
            <tr>
                <th class="order_label">С НДС:</th>
                <th id="order_nds">0</th>
            </tr>
        </table>
    </div>
    <a id="order_button" type="button" class="btn btn-success" onclick="get_order()" role="button" href="#">
        Подсчет
    </a>
</div>


<script>
  $('#hose').prop('disabled', true)

  $.getJSON("/api/hose/type/", function (data) {
    let ht = $("#hose_type")
    ht.empty()
    data.forEach(
      (d) => {
        let option = new Option(d.text, d.id, false, false)
        ht.append(option)
      }
    )
    ht.selectpicker('refresh')
  })

  $.getJSON("/api/hose/size/", function (data) {
    let hs = $("#hose_size")
    hs.empty()
    data.forEach(
      (d) => {
        let option = new Option(d.dn, d.id, false, false)
        option.setAttribute('data-subtext', d.inch)
        hs.append(option)
      }
    )
    hs.selectpicker('refresh')
  })

  $.getJSON("/api/client/", function (data) {
    let hs = $("#client_select")
    hs.empty()
    data.forEach(
      (d) => {
        let option = new Option(d.name, d.id, false, false)
        option.setAttribute('data-subtext', d.coef)
        hs.append(option)
      }
    )
    hs.selectpicker('refresh')
  })

  let all_selects = $('select')
  all_selects.selectpicker()

  update_fittings(1)
  update_mufta(1)

  all_selects.on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
    console.log(e.target.value)
  })
  $('#left_fitting_type').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
    $('#right_fitting_type').selectpicker('val', e.target.value)
  })
  $('#hose_size').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
    update_fittings(e.target.value)
    update_hose($("#hose_type")[0].value, e.target.value)
  })
  $('#hose_type').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
    update_mufta(e.target.value)
    update_hose(e.target.value, $("#hose_size")[0].value)
  })
</script>
</body>
</html>