<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% for i in items %}
        {{ i }}<br>
    {% endfor %}
    <form method="post">
        <textarea name="text"></textarea>
{#        <input type="text" name="text">#}
        <button type="submit">Добавить</button>
        {% csrf_token %}
    </form>
</body>
</html>